.bg-pc {
    width: 100%;
    min-height: calc(45vh + 50px);
    overflow: hidden;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 90%);

    &::before {
        content: "";
        position: absolute;
        left: 0;
        width: 100%;
        min-height: calc(45vh + 50px);
        opacity: .5;
        z-index: -1;
        background-image: url('/assets/images/pc-main.jpg');
        background-position-y: top;
        background-size: cover;
    }

    .name {
        animation: fadeIn 1.5s;

    }
}

// Animacion fadeIn

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translate3d(0, - 50px, 0)
    }

    100% {
        opacity: 1;
        transform: translate3d(0, 0, 0)
    }
}