<div class="bg-pc bg-cover bg-no-repeat bg-center">

    <div class="container mx-auto md:pt-10 text-shadow-white">
        <img class="mx-auto name transition-colors duration-200" src="assets/images/name-logo.svg" alt="Nahuel">
        <h2 class="text-center text-2xl md:text-4xl transition-colors duration-200 text-sky-600 dark:text-sky-300" i18n>
            Desarrollador Front-End
        </h2>
        <br>
        <h3 class="text-center text-xl md:text-2xl transition-colors duration-200 text-sky-600  dark:text-sky-300">
            Buenos Aires, Argentina 📌
        </h3>
    </div>
</div>

<app-separator>Bio</app-separator>

<div class="p-5 mt-5 mb-5">
    <div class="text-center">
        <img class="mi-foto mx-auto rounded-full hover:animate-pulse" src="assets/images/mifoto.jpg" alt="my foto">
    </div>
    <br>
    <div class="container text-center mx-auto">
        <p i18n>
            Me presento: Soy Nahuel Alderete. Desarrollador de software, principalmente Front-end con Angular. Aunque,
            en
            mis inicios, comence programando con Microsoft .NET Framework en el lenguaje C#.
            Te invito a ver mi <a class="underline text-sky-300" href="#">CV Interactivo</a>.
        </p>
        <br>
        <p i18n>
            O si prefieres una version corta, estas son mis habilidades:
        </p>
    </div>
</div>

<app-separator>Skills</app-separator>

<app-skills></app-skills>

<app-separator></app-separator>

<br>