<div class="container mx-auto">
    <div class="flex flex-row flex-wrap justify-between align-middle  shadow-sm dark:border-gray-700">

        <figure
            class="z-10 text-center basis-full md:basis-1/2 lg:basis-1/4 bg-zinc-200 border-white dark:border-slate-500 border rounded-md p-2 dark:bg-gray-600 transition-all duration-200 hover:scale-95 md:hover:scale-110 hover:bg-zinc-300"
            *ngFor="let skill of skills">
            <img class="w-32 h-32 mx-auto" [src]="skill.image" [alt]="skill.image">
            <br>
            <blockquote class="mx-auto mb-1 text-gray-800 lg:mb-8 dark:text-gray-400">
                <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
                    {{ skill.title }}
                </h3>
                <p class="my-4 font-light">
                    {{ skill.description }}
                </p>
            </blockquote>
        </figure>

    </div>
</div>