<div
    class="grid mb-1 shadow-sm dark:border-gray-700 md:mb-12 md:grid-cols-2 lg:grid-cols-4 2xl:grid-cols-6 m-5 gap-4 align-middle">
    <figure
        class="flex flex-col items-center justify-center p-2 text-center bg-zinc-200 border-gray-200 rounded dark:bg-gray-600 dark:border-gray-700 transition-all duration-200 md:hover:scale-125 hover:border-white border hover:bg-zinc-300 hover:dark:bg-gray-500"
        *ngFor="let skill of skills">
        <img class="w-32 h-32" [src]="skill.image" [alt]="skill.image">
        <br>
        <blockquote class="mx-auto mb-1 text-gray-800 lg:mb-8 dark:text-gray-400">
            <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
                {{ skill.title }}
            </h3>
            <p class="my-4 font-light">
                {{ skill.description }}
            </p>
        </blockquote>
    </figure>
</div>